* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* Set default margin and padding to zero */
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: lightgray;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Smooth Scrolling */
html{
    scroll-behavior: smooth;
}

/* Style 'container' class */
.container{
    overflow: hidden; /* Constricts overflow */
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #0c032d4d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style 'back-vid' class */
.back-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1; /* Position back-vid behind content */
    mix-blend-mode: lighten;
}

/* Align header tag */
header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 95%;
    margin-top: 18px;
    /* background-color: rgba(255, 255, 255, 0.113);
    backdrop-filter: blur(1px);
    padding: 1px 30px;
    box-shadow: 0 0 15px #816ec899; */
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

.hidden {
    transform: translateY(-70px); /* Moves header out of view */
}

/* Style 'left' class */
.left{
    display: flex;
    align-items: center;
}

.left img{
    width: 40px;
    margin: 0 15px;
}

/* Header 'HR' logo */
header h1{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Style Navigation */
header ul{
    /* margin-top: 18px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 40%;
    padding: 15px 15px;
    background-color: rgba(255, 255, 255, 0.113);
    border-radius: 25px;
    backdrop-filter: blur(1px);
    padding: 1px 30px;
    box-shadow: 0 0 15px #8b7acad8;
}

header ul li{
    list-style: none;
}

header ul a{
    text-decoration: none;
    color: gray;
    font-weight: 300;
    font-size: 15px;
    margin: 0 10px;
    transition: color 0.2s ease;
}

header ul a:hover{
    color: #cdcdcd;
}

/* Style box-icons */
.box-icons{
    display: flex;
    gap: 30px;
}

.box-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #7d60e668;
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    transition: 0.3s;
}

.box-icons a:hover{
    background-color: #8267e3dd;
    color: black;
    box-shadow: 0 0 15px #4d36a068;
}

/* Style 'hero' section */
.hero{
    max-height: 800px;
    min-height: 800px;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero-info{
    position: absolute;
    left: 5%;
}

.hero-info .hero-info-title{
    color: #c9bff0f1;
    padding: 8px 5px;
    border: 1px solid #6552a7c4;
    width: 240px;
    background-color: #22106252;
    /* background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #5300a0, #757575 #656565);
    background-size: 200%;
    animation: animate-gradient 2.5s linear infinite; */
    box-shadow: 0 0 5px #6b6094eb;
    border-radius: 30px;
    padding-left: 10px;
    font-size: 15px;
    font-family: Geneva,Verdana, sans-serif;
}

.hero-info h1{
    font-size: 59px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: Garamond, serif;
}

.hero-info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #6552a7c4;
    background-color: #22106252;
    box-shadow: 0 0 5px #6b6094eb;
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
}

.hero-info button:hover{
    color: lightgray;
    box-shadow: 0 0 15px #6b6094eb;
}

/* Gradient Animation */
.gradient{
    background: linear-gradient(to right, #008baa, #7e42a7, #6600c5, #2a46ff, #0099ff, #008baa);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}

/* Robot 3D */
.robot-3d{
    position: absolute;
    top: 0;
    right: -20%;
}

/* Scroll-down sign layout */
.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid lightgray;
    position: absolute;
    left: 49%;
    bottom: 3%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(211, 211, 211, 0.717);
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    border: 2px solid lightgray;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 2s ease-in-out infinite;
}

.scroll-down::before{
    top: 30%;
    animation-delay: 0.5s;
}

@keyframes scroll-down{
    0% {
        opacity: 0;
    }
    30%, 60% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}


/* Style the About (INFO) Section */
.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin-top: 200px;
    margin-bottom: 200px;
    height: 100vh;
    max-height: 800px;
    min-height: 800px;
}

.section-title{
    margin-top: 20px;
    font-size: 41px;
    font-weight: 300;
    color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    max-height: 800px;
    overflow: auto;
    margin-top: 30px;
}

.card{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #080020b7;
    border-radius: 12px;
    transition: 0.3s;
}

.card img{
    /* resize: both 50%; */
    width: 46%;
    height: 46%;
    object-fit: contain;
    margin-top: -5%; /* Move image slightly up */
}



.card h1{
    position: absolute;
    margin: 0;
    top: 35%;
    left: 5%;
    font-size: 25px;
    font-weight: 300;
    z-index: 1;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card p{
    position: absolute;
    text-align: justify;
    top: 48%;
    left: 5%;
    z-index: 1;
    max-width: 100%;
    color: lightgray;
    font-size: 16px;
    line-height: 24px;
    /* text-align:left; */
    margin-right: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Img (2nd child) */
.card:nth-child(2) img{
    opacity: 0;
}

/* Video (3rd child) */
.card:nth-child(3) video{
    margin-top: 10%;
    width: 70%;
    height: 70%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

/* video (4th child) */
/* .card:nth-child(4) video{
    margin-top: 0.5%;
    transform: rotateY(180deg);
    width: 100%;
    height: 60%;
    object-fit: cover;
    mix-blend-mode: lighten;
    opacity: 0.75;
} */

.card button{
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #6552a7c4;
    background-color: #22106252;
    box-shadow: 0 0 5px #6b6094eb;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    left: 5%;
    bottom: 2.5%;
    font-size: 12px;
}

.card button:hover{
    box-shadow: 0 0  15px #a395d6f0;
    opacity: 0.7;
}

.card:hover{
    box-shadow: 0 0  15px rgba(104, 47, 219, 0.817);
}

.card:nth-child(1){
    grid-row: span 2;
    height: 83vh;
    max-height: 700px;
    min-height: 700px;
}

.card:nth-child(2){
    max-height: 340px;
    min-height: 340px;
}

.card:nth-child(3){
    max-height: 340px;
    min-height: 340px;
}

.card:nth-child(1) h1{
    top: 38%;
}

.card:nth-child(1) p{
    top: 45%;
}

.card:nth-child(4){
    grid-column: span 2;
    max-height: 340px;
    min-height: 340px;
}

.card:nth-child(4) h1{
    top: 12%;
}
.card:nth-child(4) p{
    max-width: 95%;
    top: 27%;
}


/* Style Expertise (SKILLS) Section Layout */
.skills-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 200px;
    margin-bottom: 100px;
    height: 100vh;
    max-height: 900px;
    min-height: 800px;
}

.skills-section p{
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.skills-cards{
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    max-height: 300px;
}

.skill{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: auto;
    height: 18vh;
    overflow: hidden;
    border:1px solid gray;
    background-color: lightgray;
    border-radius: 10px;
    transition: 0.25s;
    box-shadow: 0 0 7px whitesmoke;
    max-height: 150px;
    min-height: 120px;
}

.skill i{
    position: absolute;
    margin: 0;
    top: 5%;
    left: 3%;
    font-size: 36px;
    color: rgb(44, 6, 131);
}

.skill h1{
    position: absolute;
    margin: 0;
    top: 33%;
    left: 3%;
    font-size: 21px;
    font-weight: 0;
    z-index: 1;
    color: black;
}

.skill p{
    position: absolute;
    left: 3%;
    top: 43%;
    z-index: 1;
    max-width: 95%;
    color: rgb(29, 28, 28);
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    overflow: auto;
}

.skill:hover{
    box-shadow: 0 0 15px whitesmoke;
    transform: scale(1.025);
}

/* Core Technologies */
.tech-cards{
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    overflow: hidden;
    border:1px solid gray;
    background-color: lightgray;
    border-radius: 10px;
    /* transition: 0.25s; */
    box-shadow: 0 0 7px whitesmoke;
    padding: 20px;
    max-height: 160px;
    min-height: 160px;
}

.tech-cards h1{
    position: relative;
    grid-column: span 4;
}

.tech{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    /* margin: 20px; */
    width: auto;
    height: 10vh;
    overflow: hidden;
    border:1px solid gray;
    border-radius: 10px;
    transition: 0.25s;
    max-height: 80px;
    min-height: 60px;
}

.tech h2{
    color: black;
    font-size: 18px;
    position: absolute;
    top: 15%;
    left: 5%;
}

.tech p{
    color: black;
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 14px;
    overflow: auto;
}

/* Style SLIDER layout */
.slider{
    position: relative;
    margin-top: 50px;
    /* top: 50%;
    right: 20%; */
    width: 80%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    mix-blend-mode: difference;
    opacity: 0.9;
    transform: scale(0.7); /* 0.7 times the image height */
    margin-bottom: 50px;
    min-height: 100px;
}

.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width)* var(--quantity));
    position: relative;
}

.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}

.slider .list .item img{
    width: 100%;
}

@keyframes autoRun {
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.slider .item:hover{
    filter: grayscale(0);
}





/* Style Project (MY PROJECTS) Section Layout */
.my-projects{
    display: flex;
    flex-direction: column;
    /* gap: 10%; */
    align-items: center;
    position: relative;
    width: 100%;
    height: 1500vh; /* CHNAGE THIS IF YOU ADD PROJECTS */
    margin-top: 100px;
    margin-bottom: 300px;
    max-height: 900px;
    
}

.my-projects p{
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.filter-buttons{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.filter-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #e5e7eb;
    color: black;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.filter-btn:hover{
    color: lightgray;
    background-color: #4d2d9eb1;
    box-shadow: 0 0 7px rgba(97, 15, 227, 0.723);
}

.filter-btn.active{
    background-color: #4d2d9eb1;
    color: lightgray;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    position: relative;
    width: 95%;
    height: 100vh;
    margin-top: 70px;
    /* margin-bottom: 100px; */
    overflow-y: auto; 
    padding-top: 90px;
    padding-left: 65px;
    padding-right: 10px;
    padding-bottom: 80px;
    scroll-behavior: smooth;
    
}

.project-card{
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 360px;
    min-height: 360px;
    align-items: center;
    gap: 10%;
    justify-content: center;
}

.project-vidbox{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    position: relative;
    cursor: pointer;
    min-width: 400px;
    transition: 0.5s;
    mix-blend-mode: exclusion;
    height: 270px;
    width: 50%;
}



.project-vidbox iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px lightgray;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.project-vidbox iframe:hover{
    box-shadow: 0 0 20px lightgray;
    transform: scale(1.25);
}

/* .project-vidbox video{
    object-fit: cover;
    width: 100%;
    box-shadow: 0 0 10px lightgray;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.project-vidbox video:hover{
    box-shadow: 0 0 20px lightgray;
    transform: scale(1.25);
} */

.project-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 70%;
    height: 100%;
    /* max-height: 300px; */
}

.project-info h1{
    width: 90%;
    font-size: 24px;
    font-weight: bold;
    text-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 450px;
}

.project-info p{
    font-size: 15.5px;
    width: 95%;
    /* max-width: 400px;
    min-width: 300px; */
    text-align: left;
    margin-top: 0;
    margin-bottom: 50px;
    display: block;
    overflow: auto;
    line-height: 25px;
}

.project-info button{
    color: white;
    padding: 12px 27px;
    border-radius: 10px;
    border: 1px solid #6552a7c4;
    background-color: #22106252;
    box-shadow: 0 0 5px #6b6094eb;
    cursor: pointer;
    transition: 0.3s;
}

.project-info button:hover{
    box-shadow: 0 0  15px #a395d6f0;
    opacity: 0.7;
}

/* Projects Scrollbar Animation */
.projects::-webkit-scrollbar {
    width: 1rem;
}

.projects::-webkit-scrollbar-track {
    background-color: #3208c858;
    border-radius: 100vw;
}

.projects::-webkit-scrollbar-thumb {
    background-color: #7a2cc86e;
    border-radius: 100vw;
}

.projects::-webkit-scrollbar-thumb:hover {
    background-color: rgba(159, 112, 207, 0.431)
}



/* Style EXPERIENCE section layout */
.experience-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100vh;
    max-height: 900px;
    margin-top: 200px;
    margin-bottom: 200px;
    position: relative;
}

.experience-section p{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 50%;
    line-height: 30px;
    font-size: 18px;
}

.slide-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 270px;
    /* margin-top: 300px; */
    margin-bottom: 3%;
    position: relative;
    min-height: 270px;
}

.mySlides{
    display: none;
    width: auto;
    height: 100vh;
    max-height: 270px;
    opacity: 0.7;
}

/* navigation buttons */
.slide-left, .slide-right{
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 10px;
}

.slide-left{
    left: 10px;
}

.slide-right{
    right: 10px;
}

/* Slideshow Indicators */
.slide-badge {
    cursor: pointer;
    height: 13px;
    width: 13px;
    padding: 0;
    border: 1px solid white;
    display: inline-block;
    margin: 0 5px;
    transition: 0.3s;
    
}

.slide-badge:hover {
    background-color: white;
}

/* Center Controls */
.slide-controls {
    text-align: center;
    position: absolute;
    left: 5%;
    bottom: 10px;
    width: 90%;
}

.experience-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.experience-info h2{
    text-align: center;
    font-size: 27px;
    font-weight: 300;
}

.experience-info h3{
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 200;
}

.experience-info .role{
    align-items: center;
    margin-top: 2%;
    margin-left: 50%;
    width: 100%;
}

.weblinks button{
    color: white;
    padding: 12px 27px;
    border-radius: 10px;
    border: 1px solid #6552a7c4;
    background-color: #22106252;
    box-shadow: 0 0 5px #6b6094eb;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    margin: 10px;
}

.weblinks button:hover{
    box-shadow: 0 0  15px #a395d6f0;
    opacity: 0.7;
}


/* Style CONTACT section layout */
.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 300px;
    margin-bottom: 700px;
    height: 100vh;
    max-height: 900px;
    min-height: 800px;
}

.contact-section .sub{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 500px;
    line-height: 30px;
    font-size: 18px;
}

.column-cards{
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

/* Contact Information */
.contact-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 500px;
    height: 75vh;
    max-height: 700px;
    min-height: 700px;
    justify-content: center;
    /* padding: 10%; */
    gap: 18px;
    margin-left: 100px;

}

.contact-cards h2{
    color: white;
    position: absolute;
    top: 5%;
    left: 8%;
    font-weight: 500;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 93%;
    height: 10vh;
    overflow: hidden;
    border:1px solid #6552a7c4;
    background-color: #22106252;
    border-radius: 10px;
    transition: 0.25s;
    box-shadow: 0 0 5px lightgrey;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 0;
    max-height: 90px;
    min-height: 90px;
}

.contact i{
    color: rgb(163, 137, 243);
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 30px;
}

.contact i:hover{
    color: white;
}


.contact h3{
    color: lightgrey;
    font-size: 25;
    font-weight: 400;
    position: absolute;
    top: 18%;
    left: 18%;
}

.contact h4{
    color: whitesmoke;
    font-weight: 200;
    position: absolute;
    bottom: 25%;
    left: 18%;
}


.location{
    display: flex;
    flex-direction: column;
}
.location h5{
    color: white;
    font-size: 120%;
    font-weight: 400;
    position: absolute;
    bottom: 12%;
    left: 7%;
}

.location h6{
    color: whitesmoke;
    font-weight: 200;
    font-size: 110%;
    position: absolute;
    bottom: 7%;
    left: 7%;
}

.location p{
    color: LIGHTGray;
    position: absolute;
    bottom: 3%;
    left: 7%;
}

.contact:hover{
    box-shadow: 0 0 10px lightgrey;
    transform: translateY(-5px);
    background-color: #3722818b;
}


/* Send a Message */
.message-cards{
    display: flex;
    flex-direction: column;
    align-items: flex-start;/* Line aligned to left*/
    position: relative;
    width: 500px;
    height: 75vh;
    justify-content: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 7px whitesmoke;
    padding: 5%;
    margin-right: 100px;
    max-height: 700px;
    min-height: 700px;
}

.message-cards h2{
    color: black;
    position: absolute;
    top: 5%;
    left: 7%;
    font-weight: 500;
    /* padding-bottom: 10%; */
}


.form-message{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    position: relative;
    width: 150%;
    height: 10vh;
    overflow: hidden;
    gap: 10px;
    max-height: 90px;
    min-height: 90px;
}


.form-message h3{
    color: black;
    font-size: 110%;
    font-weight: 400;
    position: relative;
}

.form-message input{
    font-size: 90%;
    padding: 12px 15px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: absolute;
    top: 30%;
    border: 1px solid gray;
    border-radius: 7px;
    outline: none;
    margin-top: 3px;
}


textarea.form-control {
    width: 100%;
    padding: 12px 15px;
    background-color: white;
    border-radius: 8px;
    color: black;
    font-size: 90%;
    border: 1px solid gray;
}

.form-control:focus {
    outline: none;
    color: black;
}

.message-cards button{
    margin-top: 50px;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #1010dde1;
    cursor: pointer;
    transition: 0.3s;
    width: 150%;
    height: 50px;
    margin-right: 43px;
    font-size: 100%;;
}

.message-cards button:hover{
    box-shadow: 0 0  10px #3722818b;
    opacity: 0.9;
}

.message-cards p{
    color: gray;
    margin-top: 10px;
    margin-right: 43px;
    display: none;
}

/* .success-message {
    background-color: rgba(47, 165, 255, 0.708);
    border-radius: 8px;
    color: rgb(116, 26, 205);
    padding: 12px;
    margin-top: 15px;
    margin-right: 43px;
    width: 120%;
    display:none;
} */


/* Style FOOTER layout */
footer{
    margin-top: 200px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    /* align-items: center; */
    justify-content: center;
    height: 250px;
    max-height: 250px;
    background-color: rgba(155, 155, 155, 0.468);/*rgba(26, 3, 59, 0.679);*/
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgb(142, 142, 142);
    z-index: 999;
}


.foot-1 h1{
    position: absolute;
    text-align: left;
    width: 86%;
    color: lightgray;
    align-content: flex-start;
    top: 15%;
    left: 7%;
    font-size: 20px;
    font-weight: 700;
}

.foot-1 h2{
    position: absolute;
    text-align: left;
    width: 86%;
    color: lightgray;
    top: 25%;
    left: 7%;
    font-size: 16px;
    font-weight: 400;
}

.foot-2{
    
    position: absolute;
    text-align: center;
    bottom: 15%;
    line-height: 25px;
    font-size: 15px;
    border-top: 1px solid gray;
    width: 86%;
    padding-top: 30px;
}




/* SCROLL ANIMATIONS SECTION */
::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.709);
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: white
}

/* ================================================== */


/* 1. Top Scroll Animation */
/* .scroll-tracker{
    position: fixed;
    inset: 0 0 auto;
    height: 0.5rem;
    background-color: white;
    z-index: 1000;
} */

/* 2. Hero Section */
/* Using Scroll Timeline */


/* 3. Auto Display (Section Title) */
.autoDisplay {
    filter: blur(10px);
    transform: translateY(-200px) scale(0);
    opacity: 0.2;
    transition: all 0.5s ease-in;
    transition-delay: 0.1s;
}

.autoDisplay-animation {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) scale(1);
}

/* 4, Auto Blur Animation (Cards) */
.autoBlur {
    filter: blur(30px);
    opacity: 0;
    transition: all 0.7s ease-in-out;
    /* transition-delay: 0.1s; */
}

.autoBlur-animation {
    filter: blur(0);
    opacity: 1;
}

/* 5. Fade-in Right (Project-info, Tech-exp) */
.fadeInRight {
    opacity: 0;
    transform: translateX(-300px) scale(0.2);
    transition: all 0.5s ease-out;
    transition-delay: 0.4s;
}

.fadeInRight-animation {
    opacity: 1;
    transform: translateX(0) scale(1);
}

/* 6. Fade-in Left */
.fadeInLeft {
    opacity: 0;
    transform: translateX(+300px) scale(0.2);
    transition: all 0.5s ease-out;
    transition-delay: 0.4s;
}

.fadeInLeft-animation {
    opacity: 1;
    transform: translateX(0) scale(1);
}









/* Max aspect ratio */
@media screen and (max-aspect-ratio: 16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }
}

/* Min aspect ratio */
@media (min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}

/* Tablet Responsive */
@media (max-width: 1300px){
    /* HEADER */
    header{
        padding: 1rem 0.5rem;
    }

    .logo{
        font-size: 15px;
    }

    header ul li a{
        font-size: 10px;
    }

    header a{
        scale: 0.8;
    }

    /* HERO */
    .hero-info{
        margin-top: 60%;
        scale: 0.85;
    }

    .robot-3d{
        scale: 0.65;
        top: -20%;
        right: 2%;
    }

    .scroll-down{
        scale: 0.70;
    }

    /* ABOUT */

    .info-cards{
        grid-template-columns: auto;
    }

    .card img{
        scale: 0.7;
        width: 72%;
    };

    .info-cards .card h1{
        scale: 0.8;
    }

    .card p{
        scale: 0.9;
        top: 45%;
    }

    .card:nth-child(1) h1{
        top: 32%;
    }

    .card:nth-child(1) p{
        top: 38%;
    }

    .card:nth-child(4) p{
        top: 23%;
        scale: 0.95;
    }

    /* EXPERTISE */

    .skills-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* overflow: auto; */
        margin-bottom: 500px;
    }

    .skills-cards{
        grid-template-columns: auto;
    }

    .tech-cards{
        display: none;
    }

    .slider{
        display: none;
    }
    
    .card p{
        scale: 0.8;
    }

    /* PROJECTS */
    .my-projects{
        margin-bottom: 200px;
    }

    .filter-btn {
        scale: 0.9;
    }

    .project-card{
        scale: 0.55;
        margin-left: -200px;
    }


    .project-vidbox video{
        width: 250px;
        scale: 1.2;
    }

    .project-info{
        padding-left: 0;
        /* margin-left: -10px; */
        /* margin-right: 5px; */
        scale: 1.1;
        min-width: auto;
    }
    
    .project-info h1{
        display: block;
        width: 650px;
        text-wrap: wrap;
        font-size: 21px;
    }

    .project-info p{
        display: block;
        width: 650px;
        /* scale: 1.15; */
        font-size: 18px;
        text-wrap: wrap;
    }

    /* EXPERIENCE */
    .slide-content{
        scale: 0.7;
    }

    /* CONTACT */
    .contact-section{
        max-width: fit-content;
    }

    .column-cards{
        scale: 0.7;
        margin-left: -350px;
        margin-top: -50px;
        margin-bottom: 50px;
        
    }

    .message-cards{
        scale: 0.8;
        max-width: 450px;
    }

    /* FOOTER */
    .foot-2{
        scale: 0.8;
    }
}


/* MOBILE RESPONSIVE */
@media screen and (max-width: 700px){
    .container {
        max-width: 400px;
        min-width: 400px;
    }

    .fadeInRight {
        animation: none;
        opacity: 1;
        transform: none;
    }

    .fadeInLeft {
        animation: none;
        opacity: 1;
        transform: none;
    }

    /* HEADER */
    header {
        position: fixed;
        height: 36px;
        align-items: center;
        justify-content: center;
    }

    header ul{
        display: none;
    }

    header .box-icons{
        display: none;
    }

    .logo{
        margin-top: 15px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    /* HERO */
    .hero {
        max-height: 600px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .robot-3d{
        scale: 0.4;
        top: -25%;
    }

    .hero-info{
        margin-top: 60%;
        scale: 0.8;
        margin-bottom: 70px;
    }

    .hero-info-title{
        margin-top: 100px;
        scale: 0.7;
    }

    .hero-info h1{
        font-size: 27px;
        line-height: 30px;
    }

    .hero-info p{
        font-size: 15px;
    }

    .hero-info button{
        display: none;
    }

    .scroll-down{
        display: flex;
    }

    /* ABOUT */
    .section-title{
        margin-top: 40px;
        font-size: 21px;
        margin-bottom: -10px;
    }

    .info-cards{
        grid-template-columns: auto;
    }

    .card img{
        position: absolute;
        top: -10%;
        width: 230px;
        height: 230px;
    }

    .card h1{
        font-size: 15px;
    }

    .card p{
        font-size: 11px;
    }

    .card:nth-child(1) {
        grid-row: span auto;
        grid-column: span 2;
        height: 100vh;
        max-height: 500px;
        min-height: 500px;
    }

    .card:nth-child(1) h1{
        top: 37%;
    }

    .card:nth-child(1) p{
        top: 40%;
    }
    

    .card button{
        scale: 0.7;
    }

    .card:nth-child(2){
        grid-row: span auto;
        grid-column: span 2;
        height: 100vh;
        max-height: 180px;
        min-height: 180px;
    }

    .card:nth-child(2) h1{
        top: 10%;
    }

    .card:nth-child(2) p{
        top: 20%;
    }

    .card:nth-child(3){
        grid-row: span auto;
        grid-column: span 2;
        height: 100vh;
        max-height: 180px;
        min-height: 180px;
    }

    .card:nth-child(3) h1{
        top: 10%;
    }

    .card:nth-child(3) p{
        top: 20%;
    }

    .card:nth-child(4){
        grid-row: span auto;
        grid-column: span 2;
        height: 100vh;
        max-height: 450px;
        min-height: 450px;
    }

    .card:nth-child(4) h1{
        top: 4%;
    }

    .card:nth-child(4) p{
        top: 10%;
    }

    /* EXPERTISE */
    .skills-section{
        margin-top: -30px;
        max-width: 610px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 1000px;
        min-height: 1000px;
    }

    .skills-section p{
        font-size: 12px;
    }

    .skill {
        height: 100vh;
        min-height: 120px;
        max-height: 120px;
    }

    .skill i{
        scale: 0.6;
    }
    .skill h1{
        font-size: 18px;
    }

    .skill p{
        line-height: 15px;
    }

    .tech-cards{
        display: none;
    }

    .tech-cards h1{
        font-size: 18px;
    }

    .tech{
        width: 230px;
    }

    .tech h2{
        font-size: 15px;
    }

    .slider {
        scale: 0.5;
        width: 250%;
    }


    /* PROJECTS */
    .my-projects {
        max-height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .my-projects p{
        font-size: 12px;
        /* height: 40vh; */
    }

    .filter-buttons {
       display: none;
    }

    .project-card {
        scale: 0.5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 20px;
        max-width: 300px;
        min-width: 300px;
    }

    .project-vidbox{
        top: -20%;
        margin-left: 100%;
    }
    
    .project-info {
        width: 600px;
        margin-right: -190%;
        height: 100vh;
        max-height: 500px;
        min-height: 500px;
    }

    .project-info h1{
        display: block;
        width: 400px;
        text-wrap: wrap;
        font-size: 18px;
    }

    .project-info p{
        display: block;
        width: 400px;
        /* scale: 1.15; */
        font-size: 18px;
        text-wrap: wrap;
    }

    /* EXPERIENCE */
    .experience-section p{
        font-size: 12px;
        line-height: 20px;
        width: 100%;
    }
    .slide-content{
        scale: 0.45;
        margin-top: -100px;
    }

    .experience-info h2{
        margin-top: -80px;
        font-size: 17px;
    }

    .experience-info h3{
        font-size: 15px;
    }

    .experience-info p{
        margin-left: -25%;
        margin-bottom: 10px;
    }

    .weblinks{
        display: flex;
        flex-direction: column;
        scale: 0.5;
    }

    /* CONTACT */
    .contact-section {
        margin-top: -150px;
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-section .section-title{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .contact-section .sub{
        margin-top: 0;
        width: 80%;
    }

    .contact-section .sub p{
        line-height: 20px;
        
    }

    .contact-section p{
        /* display: flex; */
        text-wrap: wrap;
        font-size: 12px;
       
    }

    .column-cards {
        align-items: center;
        display: grid;
        grid-template-columns: auto;
        margin-bottom: -70px;
    }

    .contact-cards{
        margin-top: -25%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        scale: 0.75;
    }

    .contact h3{
        font-size: 15px;
    }

    .contact h4{
        font-size: 12px;
    }

    .message-cards{
        margin-top: -10%;
        scale: 0.85;
        margin-left: 40%;
        height: 85vh;
        display: flex;
    }

    .form-message{
        margin-top: 10px;
    }

    /* FOOTER */
    footer{
        height: 20vh;
    }
    .foot-1 h1{
        font-size: 10px;
    }

    .foot-1 h2{
        font-size: 8px;
    }

    .foot-2 p{
        font-size: 8px;
        line-height: 10px;
    }
}